[submodule "coz-wplib/v1.0"]
	path = coz-wplib/v1.0
	url = https://github.com/codeoz-com/coz-wplib.git
	branch = release/v1.0
[submodule "src"]
	path = src
	url = https://github.com/codeoz-com/wc-order-admin-search-and-filter-module.git
	branch = release/v1.0
